* {
    box-sizing: border-box;
}

html {
    font-family: "Press Start 2P", sans-serif;
    font-size: 62.5%;
}

body {
    background-image: url("../one-piece-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: rgb(236, 180, 42);
    text-shadow: 4px 4px rgb(1, 1, 1);
}

.infoBox {
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 2rem;
    padding-top: 10px;
}

.gameBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: auto;
    justify-content: center;
    perspective: 1000px;
    margin-bottom: 120px;
    /* add margin at the bottom */
}

.cards {
    height: 200px;
    width: 100%;
    /* background-image: url(../Assets/images/Straw\ Hat\ Pirates.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    position: relative;
    border: 2px solid rgb(236, 180, 42);
    border-radius: 10px;
}

.flip {
    transform: rotateY(180deg);
}

/* .cards:active{
    transform: scale(.97);
    transition: transform .2s;
} */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    border: 2px solid black;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg)
}

.cards.flip {
    transform: rotateY(180deg)
}

/* .match{

} */
.winnerContainer {
    width: 100%;
    height: 100px;
    text-align: center;
    position: absolute;
    bottom: -100px;
}

.winner {
    color: rgb(236, 180, 42);
    font-size: 5rem;
    text-shadow: 3px 3px rgb(1, 1, 1);
}

button {
    background-color: rgb(236, 180, 42);
    color: 3px 3px rgb(1, 1, 1);
    border-radius: 5px;
    border: 2px solid rgb(1, 1, 1);
    width: 10%;
    height: 40px;
    font-family: "Press Start 2P", sans-serif;
    font-size: 62.5%;
    font-size: 1.5rem;
    display: none;
}