* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:2.5rem;
  background: url(../images/background.png) no-repeat center center fixed;
  background-size: cover;
  color: white;

}
.gameContainer{
  display: flex;
  width: 92.5%;
  height: 80%;
  flex-flow: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.flipCardContainer {
  width: 19%;
  perspective: 1000px;
  margin-bottom: 1rem;
}
.flipCard {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.reveal, .stayFlipped{
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}
/* .flipCardContainer:hover .flipCard {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
/* } */
/* Position the front and back side */
.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.flipCardFront {
  background: url("../images/logo.png") no-repeat, linear-gradient(180deg, rgba(235,49,26,1) 0%, rgba(130,10,4,1) 100%);
  background-size: 75%;
  background-position: center;
}
.flipCardBack {
  background-color: #1e1e1e;
  color: #fff;
  transform: rotateY(180deg);
}
.flipCardFront img, .flipCardBack img{
  width: 85%;
  height: 100%;

}

.buttonContainer{
  display: flex;
  justify-content: center;
}

button{
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-top: 3.5rem;
  height: 35px;
  text-align: justify;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(235,49,26,1) 0%, rgba(130,10,4,1) 175%);
  color: white;
}

button:focus{
  outline:none;
}

h1,
h2{
  font-size: 24px;
  margin-bottom: 12px;
}
