   /* final */
   * {
    box-sizing: border-box;

}
body{
    text-align: center;
    font-family: Nunito, Helvetica, sans-serif;
    background-image: url('../images/drawing.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color: white;
    font-size: 30px;
  }
h2{
    margin-top: 40px;
    margin-bottom: 0;
}
div {
    padding-top: 30px;
    height: 500px;
    width: 460px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    border: 0px solid rgb(250, 84, 46);
}

section {
    height: 146px;
    width: 108px;
    margin: 2.5px;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #9d9a97;
    background-color: white;
    background-image: url('../images/back.png');
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
}
section:hover{
    background-color: palegoldenrod;
}

button {
  width: 120px;
  margin: 40px auto;
  border-radius: 15px;
  padding: 5px;
  border: 1px solid white;
  color: gray;
  background:palegoldenrod;
  font-family: Nunito, Helvetica, sans-serif;
}

.hidden{
  display: block;
}

.match {
    display:block;
  }

img {
    height: 138px;
    width: 100px;
    margin: 2.5px;
    border-radius: 5px;
    display: none;
    pointer-events: none;
}