*{
  margin: 0;
}

body {
    height: 100vh;
    display: flex;
    background: pink;
}
header{
  margin-top: 22%;
  color: black;
  width: 12%;
}
h1 {
  font-size: 1.4rem;
}
h2{
  font-size: 1.4rem;

}
.grid-container {
    display: grid;
    width: 44%;
    margin-left: 30%;
    margin-top: 10%;
    grid-template-columns: auto auto auto auto;
    grid-gap: 4px;
    padding: 40px;
}

.grid-container>div {
    background-color: white;
    border: 1px dashed white;
    text-align: center;

}


div .back {
    background-color: purple;
    color: red;
    background-image: none;
}

img {
    width: 90%;
    padding: 5px;
}

img:hover{
  background-color: orange;

}
