body{
  text-align: center;
  background: burlywood;
}
table {
  margin: 0 auto;
}
th {
  background: beige;
  height: 100px;
  width: 100px;
  border: 4px solid black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ten {
  position: relative;
  left:34%;
}
