*{
  box-sizing: border-box;
}
#title{
  width: 50%;
}

section{
  width: 25%;
  height: 200px;
  border: 1px solid black;
  float: left;
  background-image: url(../images/back.png);
}

.clearfix:after {

content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;


}

img{
  width: 25%;
  height: 200px;
  border: 1px solid black;
  float: left;
}
.card{
  background-color: teal;
  color: black;
}

.selected {
  background-color: gray;
  color: black;
}
.matched{
  border: 10px solid black;
  background-color: gray;
  color: black;
}
