tr{
  width: 100%;
}
th{
  border: 2px solid black;
  height: 200px;
  width: 25%;
  background-color: lightblue;
}
table{
  width: 100%;
}

img{
  height: 200px;
  width:100%;
}
.blank{
  background-color: red;
}
.flip{
  
}
