<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>JDM Card Matching</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/module.css">
	</head>
	<body>
		<header>
			<h1>JDM Card Matching game</h1>
			<h2> Match all of the JDM cars </h2>
			<h3></h3>
			<section>
				<button type="button" name="button"></button>
			</section>

		</header>
		<div class="">

		<table>

		</table>
	</div>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
