* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  height: 100vh;
  display: flex;
  background-color: white;
}

.memoryBoard {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* background-color: springgreen; */
}

.card {
  width: 7rem;
  height: 10rem;
  margin: 5px;
  position: relative;
  border: 1px springgreen solid;
  background-color: white;
  /* transform: rotateY(180deg); */
}

.back {
  background-color: red;
}
