body {
  margin: 0;
  padding: 0;
  font-family: 'ZCOOL XiaoWei', serif;
    color: red;
}
header {
  margin: 5% 30% 5% 30%;
    text-align: center;
    text-transform: uppercase;
}
h1 {
  font-size: 40px;


}
section {
  margin: auto;
  background-color: white;
  border: dashed 1px red;
  width: 1050px;
}

.card {
  height: 400px;
  width: 175px;
  background-image: url(../img/face-down.jpg);
  background-size: cover;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 15px;
  float: left;
}

.selected.one {
  background-image: url(../img/fly.jpg);
}

.selected.two {
  background-image: url(../img/dark.jpg);
}

.selected.three {
  background-image: url(../img/light.jpg);
}

.selected.four {
  background-image: url(../img/wood.jpg);
}

.selected.five {
  background-image: url(../img/return.jpg);
}

.matched.one {
  background-image: url(../img/fly.jpg)
}

.matched.two {
  background-image: url(../img/dark.jpg);
}

.matched.three {
  background-image: url(../img/light.jpg);
}

.matched.four {
  background-image: url(../img/wood.jpeg);
}

.matched.five {
  background-image: url(../img/return.jpg);
}
